.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid black;
}
.arrow-up2 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid #999;
}
.arrow-up3 {
  width: 0;
  height: 0;

  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid #999;
}
.arrow-up4 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid #999;
}

@media screen and (max-width: 580px) {
  .aptitude {
    max-width: 380px;
    margin-left: -80px;
  }
  .aptitude small {
    font-size: 7px;
  }
  .arrow-up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid black;
  }
  .arrow-up2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid #999;
  }
  .arrow-up3 {
    width: 0;
    height: 0;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid #999;
  }
  .arrow-up4 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid #999;
  }
}
